.background_blue {
  /*background-color: rgba(81,168,255,0.7);*/
  background-color: rgba(255,255,255,0.7);
  /*background-color: rgba(0,0,0,0.7);*/
  /*border-radius: 8px;*/
/*  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
*/}

#contact_head {
  background-color: white;
  color: #51a8ff;
  font-weight: bold;
}

.text_loc{
  margin-bottom: 20px;
}

.text_left{
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}

body {
  /*background: url(../img/dark_beach1.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color:#FAFAFA;*/
  /*background-color:white;*/
  background-color:#f1f1f1;

}


.background_dark {
  background-color: rgba(3,98,158,0.7);
  transform: rotate(-50deg);

}

#headerwrap h1 {
	margin-top: 0px;
	color: white;
}

.your_name {
	color: white;
	text-shadow: 0px 0px 30px rgba(255,255,255,1);
	margin: auto;
}
.your_name  {
	color: white;
  font-size: 30px;
}

.form-control {
  border: 0.5px solid #cccccc;
  border-radius: 7px;
}

.font_size_explain{
  font-size: 18px;

}

@media (min-width: 1200px) {

	div#border-space {
	    padding: 3% 3% 0 3%;
	    /*margin: 5%;*/
	    /*width: 100%;*/
      /*background-color: #FAFAFA;*/
      background-color: #FFFFFF;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 768px) and (max-width: 1199px) {
	div#border-space {
    	padding:3% 3% 0 3%;
    	/*margin: 5%;*/
    	/*width: 100%;*/
  	}

}

@media (max-width: 767px){
	div#border-space {
    	padding: 3% 3% 0 3%;
    	margin: 5%;
      background-color: #FFFFFF;
    	/*width: 100%;*/
  	}

}

#headerwrap{
  padding-top: 10px;
}

.div_top {
  padding-top:10px;
}
/*.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}*/

textarea.form-control {
    height: 150px;
}

#headerwrap{
  padding-top: 60px;
}

