body {
  margin: 0;
  padding: 0;
  background: url(../img/beach_blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#feature_head {
  background-color: white;
  color: #51a8ff;
  font-weight: bold;
}

.center-block {
  margin-right: 0px; 
  margin-left: 0px; 
  width: 100%;
}

#headerwrap {
	min-height: 0px;
	padding-top: 70px;
}

.img_size {
	width: 100%;
}

.font_content {
	font-size: 70px;
}

