/*h2 {
  font-size: 12px;
}*/

body {
  /*background: url(../img/beach_blur.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  width: 100%;
  background-color: #51a8ff;
  position: fixed;
  bottom: 0;
  text-align: center;
}


.both_contents{
  width: 30%;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
  .header {
    /*width: 130px;*/
    text-align: center;
    /*border: solid 1px red;*/
    /*background-color: rgba(200,200,200,0.5);*/
  }

  #sel1 {
    width: 80%;
  }



  h2 {
    width: 100%;
    color: navy;
  }


  #search {
    position: relative;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  #catch_copy{
    font-size:20px;
  }

  #search-btn1 {
    position: relative;
    width: 12%;
    margin-bottom: 20px;
  }
  .error_search{
    width:60%;
  }


  .both_contents{
    width: 30%;
  }

  .show_word{
    padding-top:10px;
    font-size: 20px;
    list-style: none;
    color: black;
  }

  .result_word{
    text-align: center;
  }

  .result_word{
    color: black;
  }

  .judge_good{
    color: red;
    font-weight: 900;
    font-size:15px;
  }

  .judge_bad{
    padding-left: 2px;
    color: red;
    font-weight: 800;
    font-size:25px;
  }
  
  .backgrounding{
    background:rgba(255,255,255,0.6);
    width: 100%;
    height: 231px;
  }

  .btn_position{
    float: right;
    margin-right: 20px;
  }

  .text_position{
    text-align: center;
    float: none;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

 #sel1 {
    width: 80%;
  }

  h2 {
    width: 80%;
    color: white;
  }

  #search {
    position: relative;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;

  }

  #search-btn1 {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
  }

  .both_contents{
    width: 100%;
  }

  .text_center{
    width: 80%;
  }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  #sel1 {
    width: 100%;
  }

  h2 {
    color: yellow;
    font-size: 17px;

  }
  #search {
    position: relative;
    width: 100%;
  }

  #search-btn1 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .both_contents{
    width: 100%;
  }

  .list_name_location{
    width: 90%;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  #sel1 {
    width: 100%;
  }

  h2 {
    color: blue;
    font-size: 27px;
  }

  #search {
    position: relative;
    width: 100%;
  }

  #search-btn1{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .img-responsive {
    margin: auto;
  }

  .both_contents{
    width: 100%;
  }

  .list_name_location{
    width: 80%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  #sel1 {
    width: 100%;
  }

  h2 {
    color: red;
    font-size: 17px;

  }
  #search {
    position: relative;
    width: 100%;
  }

  #search-btn1 {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .both_contents{
    width: 100%;
  }
  .list_name_location{
    width: 60%;
  }
   .search{
    width: 60%;
  }
}

.tabinimotsu_main_div{
background-color: rgba(255,255,255,0.6);
box-shadow: 10px 10px 5px rgba( 0 , 0 , 0 , 0.3 );
}
