/*h2 {
  font-size: 12px;
}*/

body {

  background: url(../img/beach_blur.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-color: #51a8ff;*/
}
#footer {
  width: 100%;
  background-color: #51a8ff;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.background_blue {
  /*background-color: rgba(81,168,255,0.7);*/
  background-color: rgba(255,255,255,0.7);
  /*background-color: rgba(0,0,0,0.7);*/
  /*border-radius: 8px;*/
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

  .both_contents{
    width: 30%;
  }

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .header {
    /*width: 130px;*/
    text-align: center;
    /*border: solid 1px red;*/
    /*background-color: rgba(200,200,200,0.5);*/
  }

  #sel1 {
    width: 100%;
  }

  h2 {
    width: 100%;
    color: navy;
  }

  #search {
    position: relative;
    width: 750px;
    margin-bottom: 10px;
    margin-top: 10px;

  }

  #search-btn {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

/*  #footer {
    background-color: #51a8ff;
    position: absolute;
    bottom: 0;
    text-align: center;
  }*/
  .both_contents{
    width: 30%;
  }


}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

 #sel1 {
    width: 80%;
  }

  h2 {
    width: 80%;
    color: white;
  }

  #search {
    position: relative;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 10px;

  }

  #search-btn {
    position: relative;
    width: 80%;
    margin-bottom: 20px;
  }

  .both_contents{
    width: 100%;
  }

  .text_center{
    width: 80%;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

  #sel1 {
    width: 100%;
  }

  h2 {
    color: yellow;
    font-size: 17px;

  }
  #search {
    position: relative;
    width: 100%;
  }

  #search-btn {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .both_contents{
    width: 100%;
  }

  .list_name_location{
    width: 90%;
  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  #sel1 {
    width: 100%;
  }

  h2 {
    color: blue;
    font-size: 27px;
  }

  #search {
    position: relative;
    width: 100%;
  }

  #search-btn {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .img-responsive {
    margin: auto;
  }

  .both_contents{
    width: 100%;
  }

  .list_name_location{
    width: 80%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  #sel1 {
    width: 100%;
  }

  h2 {
    color: red;
    font-size: 17px;

  }
  #search {
    position: relative;
    width: 100%;
  }

  #search-btn {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  .both_contents{
    width: 100%;
  }
  .list_name_location{
    width: 60%;
  }
   .search{
    width: 60%;
  }
}

.main_div{
background-color: rgba(255,255,255,0.6);
box-shadow: 10px 10px 5px rgba( 0 , 0 , 0 , 0.3 );
}