#img{
	background: url(../img/beach_blur.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*width:100%;
	/*max-width: 100%;*/
	/*height: auto;*/
}



.undefined_word{
	color: black;
	margin-top: 20px;
}

#list_img{
	cursor: pointer;
}

#headerwrap{
	padding-top: 20px;
}

.circle_border {
  border: solid 5px black;
}

.list_name_location{
	margin-top: 50px;
	text-align: center;
	width: 100%;
	margin-top: 30px;
}

.created_location{
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.kill_padding{
	height: 20px;
}

.height{
	height:150px;
}
.list_name {
	text-align: center;
	width: 500px;
	margin-left: 20px;

}

.vanish_border{
	border: none;
	margin-bottom: 5px;
	background-color: #fff;
	color: blue;
}

.word_list_design{
	height: 250px;
	width: 80%;
}

.word_list_design:hover{

}

.list_created{

	width: 500px;
	margin-left: 20px;
	margin-bottom: 0px;
}

.undefined_category{
	color: #666;
}

input #h3 {
  color: #fff;
  background-color: #51a8ff;
  padding-top: 20px;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.set_profile{
	width:400px;
	padding-right:240px;
}

.margin_top{
	padding-top: 20px;
	margin-bottom: 30px;
}

.center_shift{
	text-align: center;
	width: 200px;
	height: 120px;
	padding-bottom: 20px;
	margin-top: 20px;
	padding-left: 100px;
	margin-right: 50px;
}

.width{
	width:100%;
}

.vargues_position{
	text-align: center;


}


.both_contents{
	background-color: rgba(156,222,255,0.75);;
}

.carry_in{
	background-color: rgba(190,255,161,0.85);;
}

.azukeire{
	background-color: rgba(100,230,80,0.8);
}

.checkbox {
  display: none;
}
.checkbox + .checkbox-icon {
  position: relative;
  vertical-align: middle;
}
.checkbox + .checkbox-icon::before {
  content: "\f372";
  font-family: "Ionicons";
  color: #ccc;
  font-size: 20px;
}
.checkbox:checked + .checkbox-icon::before {
  content: "\f374";
  color: #17bcdf;
}


.padding {
	margin-top: 30px; 
}

.sub_title {
	color: black;
	font-size: 20px;
}

.sub_title {

}

.list_float{
	text-align: left;
}



.list_float:hover {
 	transform: scale(1.1); 
}

.tmp_btn, .can_btn, .keep_btn {
	width: 300px;
	/*padding-bottom: 20px;*/
	margin-bottom: 10px;
}


.well{
	border-radius: 0;
	box-shadow: 0;
	border: 0px solid;
}

#searchs{
	display: inline;
	margin-bottom: 20px;
}

#search-btn{
	display: inline;
	width: 70px;
	margin-bottom: 20px;

}

.border{
	padding: 20px;
}

.col-lg-4{
	margin-right: 10px;
}

.under_line1 {
	margin:20px; 
}

.keep_btn{
	margin-bottom: 70px;
}

.search_window_1{
	width:300px;
}

/**/
/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  width: 200px;
  border-width: 2px;
  /*margin-bottom: 20px;*/
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.right_position{
	float: right;
}

.right{
	float:right;
}

.right,.right_position{
	display: inline;
}

.right_position:hover {
	transform: scale(1.5);
}

.right:hover {
	transform: scale(1.5); 
}

.list_input{
	background-color: rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,0);
	width: auto;
}



/*レスポンシブ*/

#pos_btn{
	margin: 20px 220px;
}
@media (min-width: 992px) and (max-width: 1199px) {
	#pos_btn{
		margin: 20px 200px;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	#pos_btn{
		margin: 20px 200px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	#pos_btn{
		margin: 20px 180px;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	#pos_btn{
		margin: 20px 70px;
	}

}
