input {
    font-family: FontAwesome;
}
label {
    display: block;
}

#mypage_head {
  background-color: white;
  color: #51a8ff;
  font-weight: bold;
}


.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}

a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title_add {
    padding: 10px 24px;
    height: 60px;
    padding-bottom: 0.75rem;
    position: relative;
    text-align: center;
}

.wrimagecard-topimage_title {
    padding: 10px 24px;
    height: 60px;
    padding-bottom: 0.75rem;
    position: relative;
}

.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.lists_margin{
    margin-top: 20px;
}


/*ユーザー情報*/
.mypage_username{
    padding: 8px 15px 0px 0px;
}

.input_list_name{
    width: 170px;
    text-align: center;
}

.how_to_use{
    text-align: right;
    font-size:15px;
}

a{
    /*text-align: right;*/
    color: gray;
}

