.explain{
	color: #FFFFFF;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);  
	font-size:40px;
}

#sign_in_head {
  background-color: white;
  color: #51a8ff;
  font-weight: bold;
}

.title_show{
	color: #FFFFFF;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	font-size: 60px;
}

.flame{
	/*background-color: rgba(255,255,255,0.5); */
	background-color: white; 
	padding: 50px
}

.text_loc{
	margin-bottom: 20px;
}

.font_content {
	color: #FFFFFF; 
	/*text-shadow: 0px 0px 10px rgba(255,255,255,1);*/

	font-size: 40px;
}

.forget_passwprd{
	font-size: 14px;
}

.text_left{
  padding: 0;
  font-weight: bold;
  font-size: 18px;
}

/*btn-success:hover{
	color: #ffffff;
    background-color: blue;
    border-color: blue;
}
*/
a {
  color: gray;
}

a:hover {
  color: skyblue;
}

#move_header{
padding-top: 2px;
padding-bottom: 0px;
/*height: 100% ;*/
}

body { 
/*background: url(../img/dark_beach1.jpg);*/
  background-repeat: no-repeat;
  background-size: cover; 
}

.form-control {
	border:0.5px solid #cccccc;
	border-radius:7px;
}


@media (min-width: 1200px) {

	div#border-space {
	    padding: 3% 3% 3% 3%;
	    /*padding-bottom:  ;*/
	    /*margin: 5%;*/
	    /*width: 100%;*/
      /*background-color: #FAFAFA;*/
      background-color: #FFFFFF;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 768px) and (max-width: 1199px) {
	div#border-space {
    	padding:3% 3% 0 3%;
    	/*margin: 5%;*/
    	/*width: 100%;*/
  	}

}

@media (max-width: 767px){
	div#border-space {
    	padding: 3% 3% 0 3%;
    	margin: 5%;
      background-color: #FFFFFF;
    	/*width: 100%;*/
  	}

}

#headerwrap{
  padding-top: 100px;
}

.div_top {
  padding-top:30px;
}
/*.label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 500;
}*/


