
body {
  /*background: url(../img/dark_beach1.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
}

.text_loc{
	margin-bottom: 20px;
}

.font_title {
	/*color: #FFFFFF; */
	color: #555;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	font-size: 50px;
}

.font_content {
	/*color: #FFFFFF; */
	color: #555;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	font-size: 20px;
	font-weight:bold;
	padding: 0;

}

#headerwrap{
	min-height :0px ;
	padding-top:60px ;
	padding-bottom: 50px;
}

#move_header{
padding-top: 2px;
padding-bottom: 0px;
height: 100%;
}


.background_white {
  /*background-color: rgba(81,168,255,0.7);*/
  /*background-color: rgba(255,255,255,0.7);*/
  /*background-color: rgba(0,0,0,0.7);*/
  background-color:white;
  /*border-radius: 8px;*/

  /*box-shadow: 4px 4px 4px rgba(0,0,0,0.2);*/
}
.background_size {
	height: 300px;
	width: 450px;
}
@media (min-width: 1200px) {

	div#space {
	    padding: 3%;
	    /*margin: 5%;*/
	    /*width: 100%;*/
	    height: 100%;
	}

}

/* Landscape tablets and medium desktops */
@media (min-width: 768px) and (max-width: 1199px) {
	div#space {
    	padding: 3%;
    	/*margin: 5%;*/
    	/*width: 100%;*/
  	}

}

@media (max-width: 767px){
	div#space {
    	padding: 3%;
    	margin: 3%;
    	/*height: 100%;*/
    	/*width: 100%;*/
  	}
}

.form-control {
	border:0.5px solid #cccccc;
	border-radius:7px;
}